body {
  background-color: #f9f9fb;
}
.container {
  margin: auto;
  width: 50%;
  padding: 100px 0;
}
.body {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin: 10px auto;
  height: fit-content;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px auto;
  border-radius: 15px;
  border: 1px solid #fff;
  white-space: noWrap;
}

tr,
th {
  border-bottom: 1px solid #fff;
}

thead th {
  border-bottom: 2px solid rgb(168, 168, 168);
  height: 50px;
}
td,
th {
  text-align: left;
  padding: 8px;
  max-width: 150px;
  overflow: scroll;
}

th,
tr:nth-child(even) {
  background-color: #eef1f1;
}

table th:first-child {
  border-radius: 10px 0 0 0;
}

table th:last-child {
  border-radius: 0 10px 0 0;
  width: 20px;
}

table td:last-child {
  border-radius: 0 6px 0 0;
  width: 20px;
}
.add-button {
  height: 40px;
  border-radius: 5px;
  background: #173b3f;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px 0 5px;
}
.create-cycle-form {
  position: relative;
  border-radius: 5px;
  width: 50%;
  height: 455px;
  margin: auto;
  padding: 5px 10px 10px;
  background: #f0f0f0;
}
.create-cycle-form input {
  border: 1px solid #333;
  border: 2px solid #cfcfcf;
  height: 50px;
  width: 80%;
  display: block;
  border-radius: 5px;
  margin: 20px auto;
  text-indent: 1ch;
}
.create-cycle-form h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 20px;
}
.create-cycle-form button {
  border: 1px solid #333;
  height: 40px;
  width: 100px;
  display: block;
  border-radius: 5px;
  margin: 10px auto;
  background: #173b3f;
  color: #fff;
}
.create-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

@media (max-width: 700px) {
  .container {
    margin: auto;
    width: 90%;
    max-width: 500px;
  }
  .create-cycle-form {
    width: 90%;
    height: fit-content;
  }
  .create-cycle-form input {
    border: 1px solid #333;
    border: 2px solid #cfcfcf;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin: 20px auto;
    text-indent: 1ch;
  }
}
