@tailwind base;
@tailwind components;
@tailwind utilities;
::notification--warning {
  display: none !important;
}
.notification--warning {
  display: none !important;
}
.tox .tox-notification {
  display: none !important;
}
body {
  background: #f4f4f4;
}

/* Other existing CSS rules for input and label styles */

@media screen and (max-width: 920px) {
  .btn {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
  }
  .btn-Aprov {
    width: 250px;
    height: 3rem;
    margin-bottom: 0.5rem;
  }

  .btn-Aprov2 {
    width: 250px;
    height: 3rem;
    margin-top: -60px;
  }

  .btn-Aprov3 {
    width: 250px;
    height: 3rem;
    margin-top: -8rem;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1F2A37;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F2A37;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}